<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Remote</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="scripts.js"></script>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>My Remote</h1>

        <div id="result"></div>

        <h2>Power</h2>
        <form action="http://${NGINX_HOST}/api/element/top/power" method="POST">
            <input type="submit" value="Top TV">
        </form>
        <form action="http://${NGINX_HOST}/api/element/bottom/power" method="POST">
            <input type="submit" value="Bottom TV">
        </form>
        <form action="http://${NGINX_HOST}/api/xboxone/top/power" method="POST">
            <input type="submit" value="Top xbox On">
        </form>
        <form action="http://${NGINX_HOST}/api/xboxone/bottom/power" method="POST">
            <input type="submit" value="Bottom xbox On">
        </form>
        <form action="http://${NGINX_HOST}/api/xboxone/top/poweroff" method="POST">
            <input type="submit" value="Top xbox Off">
        </form>
        <form action="http://${NGINX_HOST}/api/xboxone/bottom/poweroff" method="POST">
            <input type="submit" value="Bottom xbox Off">
        </form>


        <h3>Xbox</h3>
        <h4>Top</h4>
        <table>
                <tr>
                    <td></td>
                    <td>
                        <form action="http://${NGINX_HOST}/api/xboxone/top/cursorup" id="topXboxCursorUp">
                            <input type="submit" value="Up" class="xboxButton">
                        </form>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <form action="http://${NGINX_HOST}/api/xboxone/top/cursorleft" id="topXboxCursorLeft">
                            <input type="submit" value="Left" class="xboxButton">
                        </form>
                    </td>
                    <td>
                        <form action="http://${NGINX_HOST}/api/xboxone/top/cursorenter" id="topXboxCursorEnter">
                            <input type="submit" value="Enter" class="xboxButton">
                        </form>
                    </td>
                    <td>
                        <form action="http://${NGINX_HOST}/api/xboxone/top/cursorright" id="topXboxCursorRight">
                            <input type="submit" value="Right" class="xboxButton">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <form action="http://${NGINX_HOST}/api/xboxone/top/cursordown" id="topXboxCursorDown">
                            <input type="submit" value="Down" class="xboxButton">
                        </form>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <form action="http://${NGINX_HOST}/api/xboxone/top/back" id="topXboxBack">
                            <input type="submit" value="Back" class="xboxButton">
                        </form>
                    </td>
                    <td></td>
                    <td>
                        <form action="http://${NGINX_HOST}/api/xboxone/top/exit" id="topXboxExit">
                            <input type="submit" value="Exit" class="xboxButton">
                        </form>
                    </td>
                </tr>
            </table>

        <h4>Bottom</h4>
        <table>
            <tr>
                <td></td>
                <td>
                    <form action="http://${NGINX_HOST}/api/xboxone/bottom/cursorup" id="bottomXboxCursorUp">
                        <input type="submit" value="Up" class="xboxButton">
                    </form>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <form action="http://${NGINX_HOST}/api/xboxone/bottom/cursorleft" id="bottomXboxCursorLeft">
                        <input type="submit" value="Left" class="xboxButton">
                    </form>
                </td>
                <td>
                    <form action="http://${NGINX_HOST}/api/xboxone/bottom/cursorenter" id="bottomXboxCursorEnter">
                        <input type="submit" value="Enter" class="xboxButton">
                    </form>
                </td>
                <td>
                    <form action="http://${NGINX_HOST}/api/xboxone/bottom/cursorright" id="bottomXboxCursorRight">
                        <input type="submit" value="Right" class="xboxButton">
                    </form>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <form action="http://${NGINX_HOST}/api/xboxone/bottom/cursordown" id="bottomXboxCursorDown">
                        <input type="submit" value="Down" class="xboxButton">
                    </form>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <form action="http://${NGINX_HOST}/api/xboxone/bottom/back" id="bottomXboxBack">
                        <input type="submit" value="Back" class="xboxButton">
                    </form>
                </td>
                <td></td>
                <td>
                    <form action="http://${NGINX_HOST}/api/xboxone/bottom/exit" id="bottomXboxExit">
                        <input type="submit" value="Exit" class="xboxButton">
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>